[Unit]
Description=Five Nines monitoring client

[Service]
Type=notify
User=root
WorkingDirectory=/opt/five_nines_client
ExecStart=/bin/bash -c 'source venv/bin/activate && venv/bin/python3 client.py'
RestartSec=1
Restart=always
WatchdogSec=30

StandardOutput=append:/var/log/five-nines-client.stdout.log
StandardError=append:/var/log/five-nines-client.stderr.log

[Install]
WantedBy=multi-user.target
