[Unit]
Description=Five Nines monitoring agent

[Service]
Type=notify
User=fivenines
ExecStart=/opt/fivenines/fivenines_agent
RestartSec=5
Restart=always
WatchdogSec=30
NotifyAccess=all

Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
