[Unit]
Description=Five Nines monitoring agent

[Service]
Type=notify
User=fivenines
ExecStart=/home/fivenines/.local/bin/fivenines_agent
RestartSec=5
Restart=always
WatchdogSec=30

StandardOutput=append:/var/log/fivenines-agent.stdout.log
StandardError=append:/var/log/fivenines-agent.stderr.log

[Install]
WantedBy=multi-user.target
