certifi==2024.12.14 ; python_version >= "3.9" and python_version < "3.14"
charset-normalizer==3.4.3 ; python_version >= "3.9" and python_version < "3.14"
dnspython==2.7.0 ; python_version >= "3.9" and python_version < "3.14"
docker==7.1.0 ; python_version >= "3.9" and python_version < "3.14"
idna==3.10 ; python_version >= "3.9" and python_version < "3.14"
libvirt-python==11.6.0 ; python_version >= "3.9" and python_version < "3.14"
psutil==5.9.8 ; python_version >= "3.9" and python_version < "3.14"
python-dotenv==0.20.0 ; python_version >= "3.9" and python_version < "3.14"
pywin32==311 ; python_version >= "3.9" and python_version < "3.14" and sys_platform == "win32"
requests==2.32.5 ; python_version >= "3.9" and python_version < "3.14"
systemd-watchdog==0.9.1 ; python_version >= "3.9" and python_version < "3.14"
urllib3==2.5.0 ; python_version >= "3.9" and python_version < "3.14"
