package="fivenines-agent"
version="{{VERSION}}-0001"
arch="{{ARCH}}"
os_min_ver="7.0-40000"
displayname="Fivenines Monitoring Agent"
description="Server monitoring agent for fivenines.io"
maintainer="Fivenines"
maintainer_url="https://fivenines.io"
startable="yes"
